*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header style */
.header-top{
    background-color: #14161A;
    display: flex;
    max-width: 1920px;
    height: 64px;
    align-items: center;
    justify-content: space-around;
}

.header-top .header-logo h1{
    font-weight: 700;
    font-size: 20px;
    color: #87CEEB;
    line-height: 32px;
    letter-spacing: 0.15px;
}

.watchlistbtn{
    background: #87CEEB;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 24.5px;
    color: #14161A;
    width: 133px;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.header-bottom{
    max-width: 1920px;
    height: 400px;
    background-image: url(../../assets/bg.png);
}

.hello h1 {
    width: 1232px;
    height: 72px;
    font-family: 'Montserrat';
    font-size: 60px;
    color: #87CEEB;
    font-weight: 700;
    line-height: 72px;
    margin-left: 540px;
    padding-top: 65px;
}


.header-bottom p{
    font-family: 'Montserrat';
    font-size: 14px;
    color: #A9A9A9;
    font-weight: 500;
    line-height: 21.98px;
    text-align: center;
    letter-spacing: 0.1px;
    margin-top: 65px;
}

/*dropdown style */
.dropbtn {
    background-color: #14161A;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.dropbtn span{
    margin-top: -2.5px;
} 

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

